# I use ROME with 4 feeder extruders. Instead of calling for change_tool directly in the slicer GCODE, I replace CHANGE_TOOL TOOL=[next_extruder]
# with T[next_extruder] in the slicer's Tool Change G-code section and then create the four T(x) macros as below, in order to call the cut_filament macro
# before ROME's change_tool command. Ideally we can exclude ROME's change tool command completely but this is a good place to start until everything
# works correctly


[gcode_macro T0]
gcode:
  cut_filament
  CHANGE_TOOL TOOL=0

[gcode_macro T1]
gcode:
  cut_filament
  CHANGE_TOOL TOOL=1

[gcode_macro T2]
gcode:
  cut_filament
  CHANGE_TOOL TOOL=2

[gcode_macro T3]
gcode:
  cut_filament
  CHANGE_TOOL TOOL=3

[servo cutter_actuator]
pin: PG11 #Octopus DIAG3 -- whichever pin you use.
maximum_servo_angle: 178 #determine the angle your servo arm points straight down (deployed)
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025
initial_angle: 64 #determine the angle your servo points straight up (stowed)

[delayed_gcode actuator] #actuates the servo on printer bootup to "wake it up" and verify it's functioning properly
initial_duration: 3.
gcode:
    deploy_actuator           #SET_SERVO SERVO=cutter_actuator ANGLE=178
    G4 P1000
    stow_actuator             #SET_SERVO SERVO=cutter_actuator ANGLE=64

[gcode_macro set_actuator]
description: Set servo actuator position to angle
gcode:
   {% set servo_angle = params.ANGLE|default(0)|int %}   
   {% if servo_angle < 0 %}
       RATOS_ECHO MSG="ANGLE too small, must be >= 0"
   {% elif servo_angle > 270 %}
       RATOS_ECHO MSG="ANGLE too big, must be <= 270"
   {% else %}
       SET_SERVO SERVO=cutter_actuator ANGLE={servo_angle}
   {% endif %}

[gcode_macro deploy_actuator]
gcode:
  SET_SERVO SERVO=cutter_actuator ANGLE=178

[gcode_macro stow_actuator]
gcode:
  SET_SERVO SERVO=cutter_actuator ANGLE=64

[gcode_macro cut_filament]
variable_skip_cut: 0
variable_x_cut_prep: 30      #270
variable_y_cut_prep: 42      #150
variable_x_cut: 6
variable_clearance: 20
variable_cut_retraction: 15.0000
variable_cutter_z_hop: 0.4
gcode:
  {% if skip_cut != 0 %} #Dont want to make a cut on the initial load, first time macro is executed cut will not be performed.
  {% set x_location = printer.toolhead.position.x %} #save initial toolhead position so we can return to it when the cut is completed.
  {% set y_location = printer.toolhead.position.y %}
  {% set z_location = printer.toolhead.position.z %}
  {% set speed = printer["gcode_macro RatOS"].macro_travel_speed|float * 60 %}
  
  # Check hot end temperature and if below min temp, set to 180C
  {% if printer.extruder.can_extrude|lower == 'false' %}
      # heating extruder
      RATOS_ECHO MSG="Heating extruder to 180C... Please wait."
      SET_HEATER_TEMPERATURE HEATER="extruder" TARGET=180
  {% endif %}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=180

  # Check position of toolhead to see if collision is imminent
  # A better and more generic method would be to define the keepout region in rome.cfg or printer.cfg
  # This method assumes the actuator is in the front left of the printer
  {% if x_location < (x_cut_prep + clearance) and y_location < (y_cut_prep + clearance) %}
  RATOS_ECHO MSG="Actuator clearance area jepordized"
  G1 X{x_cut_prep + clearance} F12000
  G4 P750
  {% endif %}
  
  # Continue process
  deploy_actuator
  G4 P250
  G1 E-{cut_retraction} F1800 #retract as much as you dare, too much will lead to nozzle clogs. The more you can retract the less purge you will need.
  G4 P250
  
  SAVE_GCODE_STATE NAME=_cut_z_hop
  G91
  G1 Z{cutter_z_hop} F1500
  RESTORE_GCODE_STATE NAME=_cut_z_hop
  
  G1 X{x_cut_prep} Y{y_cut_prep} F{speed} #move cut lever close to the servo actuator block but not touching. Y position is set to center of travel here but can be anywhere convenient.
  G4 P500
  G1 X{x_cut} F7500 #cut filament
  G4 P250
  G1 E-2.00000 F1800 #retract a little more while blade is fully inserted to ensure separation of cut
  G4 P250
  G1 X{x_cut_prep} F{speed} #allow lever to release blade fully
  stow_actuator
  G4 P750     # Allow actuator to move out of the way in case initial toolhead position is within the clearance area of actuator
  G1 X{x_location} Y{y_location} F{speed} #return toolhead to initial starting point
  
  SAVE_GCODE_STATE NAME=_cut_z_hop
  G91
  G1 Z-{cutter_z_hop} F1500
  RESTORE_GCODE_STATE NAME=_cut_z_hop
  
  {% else %}
  SET_GCODE_VARIABLE MACRO=cut_filament VARIABLE=skip_cut VALUE=1 #here we set skip_cut to 1 so next time macro is executed cut will be performed and from that point onward.
  {% endif %}

# Note: If you want to cut the last filament loaded when your print finishes, simply add the cut_filament command just before ROME_END_PRINT in your slicer's End G-code section.