


#################################################
#
#          PF Makes Belt Tension Macros
#
#   This is a macro set that will initialize the printer and prepare
#   the system for using the PF Makes tool to set the belt tension
#
#   Reference: https://github.com/Diyshift/3D-Printer/blob/main/GT2%20Belt%20Tension%20Meter/Manual/GT2_Tensiometer_Manual.pdf
#
#################################################


###################
##  Title: PFMakes_Belt_Tension
##  Source: Self
##  Last update: 1/1/26
###################
# Method:
# 1) Remind user that temperature of printer must be cold.
#    Warm belts will change the belt response and settings.
# 2) Remind user to calibrate tool to verify measurements. Notify user that
#    target value is between 1.9 and 2.3 for Gates EPDM belts on 
# 3) Home if not homed
# 4) Move the toolhead along complete X and Y travel.
# 5) Move the toolhead to: X=Center, Y=150
# 6) Measure A/B belt tensions.
# 7) Adjust tension, if necessary.
# 8) Repeat steps 3-6.

[gcode_macro PFMakes_Belt_Tension]

description: Perform movement sequence and position set for PF Makes Belt tension tool
gcode:
    MAYBE_HOME
    SAVE_GCODE_STATE NAME=_ui_movement
    G90
    RATOS_ECHO MSG="Performing Movement..."
    G1 X0 Y0 F6000
    G1 X300 F6000
    G1 Y300 F6000
    G1 X190 F6000
    G1 Y270 F6000
    G1 X130 F6000
    G1 Y300 F6000
    G1 X0 F6000
    G1 X0 Y0 F6000
    G1 X150 Y150 F6000
    RATOS_ECHO MSG="Movement Done."
    RATOS_ECHO MSG="Belt Tension should be between 1.9 and 2.3 on tool."
    RESTORE_GCODE_STATE NAME=_ui_movement