# -------------------------------------										
# Base setup
# -------------------------------------										
[mcu skrmini]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_btt-skrmini3v3.0-ROME-if00

[include rome/extruder_feeder.cfg]
#[include rome/mmu_splitter.cfg]

[include rome/cutter_macro.cfg]

# -------------------------------------										
#  Hotend
# -------------------------------------										
#[include rome/hotends/rapido_hf.cfg]
[include rome/hotends/rapido_uhf.cfg]
#[include rome/hotends/chc_pro.cfg]

# -------------------------------------										
# User overrides
# -------------------------------------										
#
[rome]
heater_timeout: 6000								# Heater Timeout in case of rome paused the print

unload_filament_after_print: 1   					# 1 = unloads filament after printing has finished : Don't forget to add a call to your cut_filament macro just before you call ROME_END_PRINT in your slicer's end gcode section
                                               	# 0 = filament stays in hotend

wipe_tower_acceleration: 6000						# printer acceleration when printing the wipe tower : Printer dependent, you can set this higher for more rigid mechanics

use_ooze_ex: 1										# 1 = rome distributes oozed material over the length of the wipe tower
													# 0 = try your luck 

use_filament_caching: 0 							# 1 = rome caches the filament right behind the toolhead sensor instead of completely unloading it
													# 0 = no caching: This has to be set to zero when using more than 2 feeder extruders. (This may not be true for newest versions of ROME not sure, but it's not needed anyway)

extruder_push_and_pull_test: 0						# 1 = test if filament could successfully loaded into extruder
													# 0 = do not test : When using the filament cutter, you don't need this test as filament will always load because no tip tuning is necessary

#filament_groups: 1:2,4:5							# filament cache configuration, this tells rome which filament arrives in which bowden tube to the hotend: I believe this is related to MMU usage and not ROME

# nozzle_loading_speed_mms: 20					# extruder speed when moving the filament between the parking position and the nozzle (Default 10)
# filament_homing_speed_mms: 50					# extruder speed when moving the filament inside bowden tube (Default 50)
# filament_parking_speed_mms: 50					# extruder speed when moving the filament between the filament sensor and the parking position (Default 50)

################################################
#
#   EXAMPLE PARAMETERS FROM @BILLYD
#
################################################

##parking_position_to_nozzle_mm: 41				# distance between the parking position and the nozzle, Actual: 18 (top of heater) to 41 (tip) : Parking position is center of cold zone, Nozzle is at the exit
##toolhead_sensor_to_bowden_cache_mm: 73		# distance between the filament sensor and the filament caching position, Actual: 73 : Location where you want the filament to end up after it is finished retracting from a filament change
##toolhead_sensor_to_bowden_parking_mm: 1200	# distance between the filament sensor and the filament parking position, Actual: 1220 (500 size) : Distance the filament will auto load when putting filament into a feeder's sensor (heater must be on)
##extruder_gear_to_parking_position_mm: 58		# distance between the extruder gears and the parking position, Actual: 58 : center of gears, to center of cold zone
##toolhead_sensor_to_extruder_gear_mm: 32 		# distance between the filament sensor and the extruder gears Actual: 32 : Point where toolhead sensor microswitch is closed, to gear center


#############################################################################################################################################
#
#
#            INITIAL PARAMETERS
#
#
#############################################################################################################################################

toolhead_sensor_to_bowden_cache_mm: 65         # distance between the filament sensor and the filament caching position, Actual: 73 : Location where you want the filament to end up after it is finished retracting from a filament change
toolhead_sensor_to_bowden_parking_mm: 1950     # 2700     # distance between the filament sensor and the filament parking position, Actual: 1220 (500 size) : Distance the filament will auto load when putting filament into a feeder's sensor (heater must be on)
toolhead_sensor_to_extruder_gear_mm: 26 		# distance between the filament sensor and the extruder gears Actual: 32 : Point where toolhead sensor microswitch is closed, to gear center
extruder_gear_to_parking_position_mm: 58	    # distance between the extruder gears and the parking position, Actual: 58 : center of gears, to center of cold zone
parking_position_to_nozzle_mm: 11			    # distance between the parking position and the nozzle, Actual: 18 (top of heater) to 41 (tip) : Parking position is center of cold zone, Nozzle is at the exit
                                                # IN THIS CASE WHERE A CUTTER IS USED - THE CUT RETRACTION DISTANCE PLUS SOME OFFSET IS IMPLEMENTED
#############################################################################################################################################

tool_count: 4										# number of feeding extruders
rome_setup: 0										# 0 = multi extruder to direct extruder
                                                    # 1 = mmu splitter

[extruder]
max_extrude_only_distance: 2500

###################################################
#
#     RATOS 2.1.0 parameter support
#     All dynamics handled in ROME
#
###################################################
[gcode_macro T0]
variable_purge_after_load: 10                               # purge x mm after the filament has been loaded to the nozzle tip
variable_purge_before_unload: 0                             # purge x mm before the filament unloads
variable_filament_loading_nozzle_offset: 0                 # offset tuning value. positive or negative number.
                                                            # different nozzles can lead to too much or not enough extrusion while loading the filament

variable_cooling_position_to_nozzle_distance: 0                  # heatbreak length from cold zone to nozzle
variable_tooolhead_sensor_to_extruder_gear_distance: 0           # distance in mm from the sensor to the extruder gear
variable_extruder_gear_to_cooling_position_distance: 0           # distance in mm from the extruder gear to the end of the hotend cold zone

#--------------------------------------
# SKR MINI E3 Cooling Fan
#--------------------------------------
##############################
#
#  Code excerpt taken from
#  https://klipper.discourse.group/t/how-to-get-the-controller-fan-to-turn-on-at-power-up/7313/11
#
##############################
[fan_generic ROME_fan]
pin: skrmini:PB15
max_power: 1.0
cycle_time: 0.02
hardware_pwm: true
#kick_start_time: 0.5
#off_below: 0.2
shutdown_speed: 0.75

[delayed_gcode start_rome_fan_at_idle_speed]
initial_duration: 1.5
gcode:
  SET_FAN_SPEED FAN=ROME_fan SPEED=0.4


[temperature_sensor ROME_SKR_MINI_E3]
sensor_type: temperature_mcu
sensor_mcu: skrmini

#--------------------------------------
# BTT SKR MINI E3 V3.0
# MOTOR DRIVER UART ADDRESSES
# Extracted from /config/RatOS/boards/btt-skr-mini-e3-30
#
# MOTOR X: UART 0 - ROME Extruder 4
# MOTOR Y: UART 2 - ROME Extruder 3
# MOTOR Z: UART 1 - ROME Extruder 2
# MOTOR E: UART 3 - ROME Extruder 1
#--------------------------------------

# -------------------------------------										
# Rome Extruder 1
# Orbiter 1004
# SKR MINI E3 MOTOR E0
# -------------------------------------										
[extruder_stepper rome_extruder_1]
extruder:
step_pin: skrmini:PB3
dir_pin: skrmini:PB4
enable_pin: !skrmini:PD1
microsteps: 64
#rotation_distance: 4.70451433    # 200 * 16 / 690 = 4.63768116 * Extruder_cal
rotation_distance: 4.63768116    # 200 * 16 / 690 = 4.63768116 * Extruder_cal
full_steps_per_rotation: 200

[tmc2209 extruder_stepper rome_extruder_1]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 3
run_current: 0.85
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7

# -------------------------------------										
# Rome Extruder 2
# Orbiter 1004
# SKR MINI E3 MOTOR ZA
# -------------------------------------										
[extruder_stepper rome_extruder_2]
extruder:
step_pin: skrmini:PB0
dir_pin: skrmini:PC5
enable_pin: !skrmini:PB1
microsteps: 64
#rotation_distance: 4.69886708     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
rotation_distance: 4.63768116     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
full_steps_per_rotation: 200

[tmc2209 extruder_stepper rome_extruder_2]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 1
run_current: 0.85
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7

# -------------------------------------										
# Rome Extruder 3
# Orbiter 1004
# SKR MINI E3 MOTOR Y
# -------------------------------------										
[extruder_stepper rome_extruder_3]
extruder:
step_pin: skrmini:PB10
dir_pin: skrmini:PB2
enable_pin: !skrmini:PB11
microsteps: 64
#rotation_distance: 4.69690435     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
rotation_distance: 4.63768116     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
full_steps_per_rotation: 200

[tmc2209 extruder_stepper rome_extruder_3]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 2
run_current: 0.85
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7

# -------------------------------------										
# Rome Extruder 4
# Orbiter 1004
# SKR MINI E3 MOTOR X
# -------------------------------------										
[extruder_stepper rome_extruder_4]
extruder:
step_pin: skrmini:PB13
dir_pin: skrmini:PB12
enable_pin: !skrmini:PB14
microsteps: 64
#rotation_distance: 4.69323943     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
rotation_distance: 4.63768116     # 200 * 16 / 690 = 4.63768116 * Extruder_cal
full_steps_per_rotation: 200

[tmc2209 extruder_stepper rome_extruder_4]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 0
run_current: 0.85
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7


# -------------------------------------										
# Toolhead Filament Sensor
# -------------------------------------										
[filament_switch_sensor toolhead_filament_sensor]
pause_on_runout: False
event_delay: 0.1
switch_pin: ^!toolboard_t0:PB3
insert_gcode:
    RATOS_ECHO MSG="Filament Detected at Toolhead"
runout_gcode:
    RATOS_ECHO MSG="Filament Runout or Removed"

# -------------------------------------										
# F1 Filament Sensor : Add a filament sensor to the entry of each of your feeder extruders. This enables the auto load and auto eject for changing spools on a given filament feeder line
# -------------------------------------										
[filament_switch_sensor feeder_1_filament_sensor]
event_delay: 0.1
pause_on_runout: False
runout_gcode: 
    F_RUNOUT TOOL=1
insert_gcode: 
    F_INSERT TOOL=1
switch_pin: !skrmini:PC15

# -------------------------------------										
# F2 Filament Sensor : Add a filament sensor to the entry of each of your feeder extruders. This enables the auto load and auto eject for changing spools on a given filament feeder line
# -------------------------------------										
[filament_switch_sensor feeder_2_filament_sensor]
event_delay: 0.1
pause_on_runout: False
runout_gcode: 
    F_RUNOUT TOOL=2
insert_gcode: 
    F_INSERT TOOL=2
switch_pin: !skrmini:PC2

# -------------------------------------										
# F3 Filament Sensor : Add a filament sensor to the entry of each of your feeder extruders. This enables the auto load and auto eject for changing spools on a given filament feeder line
# -------------------------------------										
[filament_switch_sensor feeder_3_filament_sensor]
event_delay: 0.1
pause_on_runout: False
runout_gcode: 
    F_RUNOUT TOOL=3
insert_gcode: 
    F_INSERT TOOL=3
switch_pin: !skrmini:PC1

# -------------------------------------										
# F4 Filament Sensor : Add a filament sensor to the entry of each of your feeder extruders. This enables the auto load and auto eject for changing spools on a given filament feeder line
# -------------------------------------										
[filament_switch_sensor feeder_4_filament_sensor]
event_delay: 0.1
pause_on_runout: False
runout_gcode: 
    F_RUNOUT TOOL=4
insert_gcode: 
    F_INSERT TOOL=4
switch_pin: !skrmini:PC0

# ---------------------------------------------
#  Pause / Resume : PAUSE_ROME and RESUME_ROME are buggy and not needed. Comment them out and just add calls to RATOS's pause and resume
# ---------------------------------------------
[gcode_macro _PAUSE_ROME]
gcode:
  #SAVE_GCODE_STATE NAME=PAUSE_state
  #SET_IDLE_TIMEOUT TIMEOUT=36000
  #G91
  #G1 Z+50 F3000
  #G90
  #{printer.configfile.settings['gcode_macro pause'].rename_existing}
  PAUSE


[gcode_macro _RESUME_ROME]
gcode:
  #RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 SPEED=600
  #{printer.configfile.settings['gcode_macro resume'].rename_existing}
  RESUME